@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

/* {
  margin: 0;
}*/

canvas {
  border: 1px solid black;
  background-image: url('../assets/night-background.png');
  margin-bottom: -4px;
}

table {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url('http://www.texturex.com/albums/Metal-Textures/TextureX%20steel%20texture%20shiney%20piece%20metal%20silver%20camo%20pattern%20Texture.jpg');
  background-size: 1000px 600px;
  background-position: -300px -200px;
  border-color: white;
  color: white;
  text-shadow: 0px 0px 5px rgba(0,0,0,200);
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
}

#healthBarCell {
  width: 153px;
}

#weaponHeader {
  width: 250px;
}

#fireButton {
  line-height: 45px;
  text-align: center;
  display: inline-block;
  width: 217px;
  margin-right: -16px;
  background-color: rgba(255, 40, 0, .65);
}
#fireButton:hover {
  background-color: rgba(255, 40, 0, .75);
}

button:focus {
  outline: none;
}
