/* {
  margin: 0;
}*/

canvas {
  border: 1px solid black;
  background-image: url('../assets/night-background.png');
  margin-bottom: -4px;
}

table {

}

#fireButton {
  width: 205px;
  height: 47px;
}
