@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

canvas {
  border: 1px solid black;
  background-image: url('../assets/night-background.png');
  margin-bottom: -4px;
}

#controls {
  width: 642px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: grid;
  grid-template-columns: 3fr 4fr 4fr;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 15px;
  /*background-image: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url('http://www.texturex.com/albums/Metal-Textures/TextureX%20steel%20texture%20shiney%20piece%20metal%20silver%20camo%20pattern%20Texture.jpg');
  background-size: 1000px 600px;
  background-position: -300px -200px;*/
}

#controls div, #controls a {
  border: black 1px solid;
  padding: .25em;
}

#fireButton {
  grid-column-start: 3;
  grid-row: 1/3;
  text-align: center;
  line-height: 48.5px;
}
